.page {
  width: 100%;
  min-width: 320px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  /* background: linear-gradient(0deg, rgba(15, 112, 131, .15) 0%, rgba(255, 255, 255, 1) 100%); */
  background-image: url(../../images/cloud.jpg);
  background-size: 100% 100%;
  object-fit: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  position: relative;
}
