.results__current-title {
  margin: 0 0 10px 0;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}
