.results__current-weather {
  margin: 0 0 20px 0;
  padding: 15px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;

  background: rgba(33, 35, 83, .2);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(75, 93, 104, 0.15);
  transition: all .3s ease;
}

.results__current-weather:hover {
  cursor: pointer;
  background: rgba(33, 35, 83, .15);
}
