.results__current-nature {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}
